    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Made with <strong>❤</strong> by <a href="https://j.com">Jacob Tyrrell</a>
        </p>
      </div>
    </footer>
  </body>
  <script src="/scripts/instantclick.min.js" data-no-instant></script>
</html>
