<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title || "Page" %> - Jacob Tyrrell</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
          <a class="_brand navbar-item" href="/">Jacob Tyrrell</a>
          <div class="navbar-burger burger" data-target="navbarmobile">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navbarmobile" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/projects">Projects</a>
          </div>
        </div>
      </div>
    </nav>