<%- include('../partials/header.ejs') %>
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Jacob Tyrrell
        </h1>
        <h2 class="subtitle">
          A recovering coffeeholic with a passion for the arts.
        </h2>
      </div>
      <article class="media">
        <figure class="media-right is-center">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
      </article>
    </div>
  </section>
<%- include('../partials/footer.ejs') %>
