<%- include('../partials/header.ejs') %>
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
            <div class="column is-half">
                <h1 class="title">
                    Jacob Tyrrell
                  </h1>
                  <h2 class="subtitle">
                    A recovering coffeeholic with a passion for the arts.
                  </h2>
              </div>
            <div class="column is-half">
                <article class="media">
                    <figure class="media-right is-center">
                      <p class="image">
                          <img src="https://goriverhawks.com/images/2017/12/8/15_Tyrrell_Sean.png"></img>
                      </p>
                    </figure>
                </article>
            </div>
        </div>
    </div>
  </section>
<%- include('../partials/footer.ejs') %>
