<%- include('../partials/header.ejs') %>
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects
        </h1>
        <h2 class="subtitle">
          Projects stuff
        </h2>
      </div>
    </div>
  </section>
<%- include('../partials/footer.ejs') %>
